<!-- Generated template for the YellowtabsComponent component -->
<div class="divclass">
    <ion-row>
        <ion-col col-4 >
           <button ion-button block id="btn1" (click)="gofav()"></button>
          </ion-col>
          <ion-col col-4 >
            <button ion-button block id="btn2" (click)=" gocat()"></button>
          </ion-col>
          <ion-col col-4 >
            <button ion-button block id="btn3" (click)=" gocontact()"></button>
          </ion-col>
    </ion-row>
     
</div>
