
<ion-content>
  <yellowhead></yellowhead>
  <p class="pagetitle">Favorites</p>



  <ion-row class="product">
  
      <ion-col col-6 *ngFor="let item of favItems, let i = index">
  
        <div class="mydiv">
          <ion-icon class="heart" name="close" (click)="deleteItem(item.item_id)"></ion-icon>
          <img (click)="showDetails(item.items.itemimages,item.items.item_name,item.items.itemdetails_ar,item.items.quantity,item.items.item_id,item.items.category_id)" [src]="MainProvider.itemsImg+item.items.itemimages[0].image_path">
          <ion-row>
              <ion-col col-6>
                <p>{{item.items.item_name}}</p>
                <p>{{item.items.price}} {{'SAR'|translate}}</p>
              </ion-col>
              <ion-col col-6>
                  <button ion-button block #quan (click)="addToCart(i,item.item_id,item.sub_category_id,item.quantity,category_id)">{{'Add to Cart'|translate}}</button>

                <!-- <div #quan [class]="quandiv[i]">
                  <ion-icon name="add" (click)="increaseQuan(i,item.item_id,item.items.category_id)"></ion-icon>
                    <input id="no" *ngIf="item.items.cart.length != 0 " [(ngModel)]="item.items.cart[0].quantity" #quanno readonly>
                    <input id="no" *ngIf="item.items.cart.length == 0 " [value]="count2[i]" #quanno readonly>
                    <input id="no" value="10"  readonly>
                  <ion-icon name="remove" (click)="decreaseQuan(i,item.item_id,item.items.category_id)"></ion-icon>
                  </div> -->
              </ion-col>
          </ion-row>
         
         
              
         
        </div>
      
      </ion-col>
    </ion-row>

</ion-content>
<ion-footer>
  <yellowtabs></yellowtabs>
</ion-footer>