page-favorite {
.back-button.show-back-button{
    display: none
}
.toolbar-title{
    text-align: center;
    font-family:Bitter;
    font-weight: 600;
    color: gray;
    ion-icon{
        color: lightgray;
    }
}
.toolbar-background{
    background: white;
}

.header::after{
  background-image:none;
}

.filter{
    transform:rotate(90deg); 
}


.product{
    margin: 30px 20px;
    p:first-of-type{
        margin: 10px 0;
        color:gray;
        font-weight: bold;
     }
    .heart{
        font-size: 20px;
        margin: 5px 10px;
        padding: 5px 10px;
        position: absolute;
        right: 5px;
        border: 2px solid #f39e2f;
        color: #f39e2f;
    }
    p:last-of-type{
       margin: 5px 0;
       color:#f18900;
       font-weight: bold;
    }
    .button{
        background-color: #d0cfe0;
        color: white;
        border-radius: 30px;
        width: 70%;
        text-transform: none;
        height: 30px;
    }
    #no{
        display: inline;
        color: gray;
        margin: 0 5px;
        width: 20px;
        text-align: center;
        border: none;
    }
    ion-icon{
        border: 1px solid lightgray;
        border-radius: 50%;
        padding:8px 11px;
        color:lightgray;
    }
}
  [col-6] 
  { 
    padding:10px;
    img{
       width: 100%;
       height: 185px;
       border-radius: 10px;
       box-shadow: 0px 3px 37px #868481;
       }
  }

  .quandiv{
    display: block;
  }
  .quandivdis{
      display: none;
  }
  .disbtn{
    display: none;
  }
  .nondisbtn{
    display: block;
    background-color: #d0cfe0;
    color: white;
    border-radius: 30px;
    width: 70%;
    text-transform: none;
    height: 30px;
  }
}
