page-favorite {
.back-button.show-back-button{
    display: none
}
.toolbar-title{
    text-align: center;
    font-family:Bitter;
    font-weight: 600;
    color: gray;
    ion-icon{
        color: lightgray;
    }
}
.toolbar-background{
    background: white;
}

.header::after{
  background-image:none;
}

.filter{
    transform:rotate(90deg); 
}

.mydiv{
    border: 1px solid gray;
    border-radius: 10px;
    height: 255px;
    box-shadow: 3px 2px 20px 0px #7d7d7d;
}
.product{

    p:first-of-type{
        margin: 0;
        padding:0 5px 0;
        color: #3b9ea6;
        font-weight: bold;
    }
    .heart{
        font-size: 20px;
        margin: 5px 10px;
        padding: 5px 10px;
        position: absolute;
        right: 5px;
        border: 2px solid #f39e2f;
        color: #f39e2f;
    }
    p:last-of-type{
        margin: 0;
        padding: 0px 5px 0;
        color: #f18900;
        font-weight: bold;
    }
    .button{
        background-color: #3b9ea6;
        color: white;
        border-radius: 30px;
        text-transform: none;
        height: 30px;
        font-weight: normal;
        font-size: 12px !important;
    }
    #no{
        display: inline;
        color: #3b9ea6;
        /* margin: 0 5px; */
        width: 25px;
        font-size: 20px;
        background: transparent;
        font-weight: bold;
        text-align: center;
        border: none;
    }
    ion-icon{
        border: 1px solid gray;
        border-radius: 50%;
        padding: 2px 5px;
        color: #3b9ea6;
        font-size: 23px;
        font-weight: bold;
    }
}
  [col-6] 
  { 
  
    img{
       width: 100%;
       height: 185px;
       border-radius: 10px;
       box-shadow: 0px 3px 37px #868481;
       }
  }

  .quandiv{
    display: flex;
    text-align: end;
  }
  .quandivdis{
    // display: none;
    display: flex;
    text-align: end;
    margin: 0;
  }
  .disbtn{
    display: none;
  }
  .nondisbtn{
    display: block;
    background-color: #d0cfe0;
    color: white;
    border-radius: 30px;
    width: 70%;
    text-transform: none;
    height: 30px;
  }

  yellowtabs #btn1 {
    background-image: url(../assets/imgs/favon.png);
    margin: 0;
    height: 45px;
    
}
}
