page-invoice {
.content{
    border-radius: 30px
}
.row{
    padding:10px 20px;
}
.colinvoice{
    text-align: start;
    font-family: Bitter;
    font-size: 25px;
    opacity: 0.7;
    
}

.colno{
    text-align:end;
    color:gray;
    font-size: 18px;
}
.colleft{
  color: gray;
  text-align: start;
  font-weight: 400;
}
.home{
    background: orange;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto 0;
}
.colright{
  color:orange;
  text-align: end;
  font-weight: 400;
}

p{   
    margin: 0px 24px 40px;
    color: orange;
    font-weight: bold;
}

.totalprice{
    text-align: end;
    color: #32bdd6;
    font-weight: bold;
}
}
