page-cart {
.back-button.show-back-button{
    display: none
}
.toolbar-title{
    text-align: center;
    font-family:Bitter;
    font-weight: 600;
    color: gray;
    ion-icon{
        color: lightgray;
    }
}
.toolbar-background{
    background: white;
}

.header::after{
  background-image:none;
}

[col-4] 
{ text-align: end;
  div{
    background: gray;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: auto;
    display: inline-flex;
}
  p{
      display: inline-flex;
      margin: 0;
  }
 }

[col-2] 
{ text-align: center;
  div{
    border: 1px solid gray;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: auto;

}
}

.itemrow{
    .row{
        margin: 0 0 15px;
    }
    position: relative;
    top: 12%;
    width: 95%;
    height: 145px;
    margin: 30px auto 0px;
    .p1{
         margin: 0 5px 10px;
         font-size: 20px;
         opacity: 0.7;

    }
    .p2{
         margin:0 10px 15px;
         font-size: 17px;
         color:orange;
         font-weight: bold;
    }
    [col-4] img{
        border-radius: 6px;
        box-shadow: 3px 3px 36px #bbbaba;
        height: 135px;
        min-height: 135px;
        max-height: 135px;
    }
    [col-8] div{
        font-size: 18px;
        border-bottom:1px solid lightgray;
        margin: 8px;
        padding-bottom: 10px;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: start;

        .no ,.print{
            display: inline-flex;
            color: black;
            margin:0 5px;
            font-family: Bitter;
        }
        .print{
            color: #cccbcb;
            font-size: 13px;
        }
        ion-icon{
            border: 1px solid lightgray;
            border-radius: 50%;
            padding: 4px 7px;
            color: lightgray;
        }
        img{
                margin: 0 0 -8px;
        }
    }
}
.tcolor{
    border-radius: 50%;

}

.bottomrow{
    bottom: 10px;
    width: 100%;
    text-align: center;
}
[col-9] .button{
    height: 58px;
    border-radius: 30px;
    background: #32bdd6;
    font-size: 20px;
    margin-top: 10px;
    text-transform: none;
    display: inline-flex;
    width: 57%;
}
[col-3] .button{
    height: 58px;
    border-radius: 30px;
    background: lightgray;
    font-size: 20px;
    margin-top: 10px;
    text-transform: none;
    display: inline-flex;
    width: 30%;
}

.footer-md::before{
    background-image: none;
}
.closeicon{
    border: 1px solid gray;
    padding: 5px 7px;
    border-radius: 50%
}

#no{
    display: inline;
    color: gray;
    margin: 0 5px;
    width: 10px;
    border: none;
}
}
