<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-row style="text-align: center;">
        <ion-col col-1><img  src="assets/imgs/search.png"></ion-col>
        <ion-col col-8 style="font-family: Bitter;font-weight: 500;"> {{'Bakery'|translate}}</ion-col>
        <ion-col col-2 (click)="goCart()"> <img height="35px" src="assets/imgs/cart.png"></ion-col>
        <ion-col col-1  (click)="presentActionSheet()">
          <img height="28px" src="assets/imgs/filter.png">
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <ion-scroll scrollX="true" style="width:100vw;height:51px" >
      <ion-segment [(ngModel)]="Categories">
        <ion-segment-button *ngFor="let categorey of allcats; let i = index" value="categorey.categories_id" (click)="getItemsCat(categorey.categories_id)">
          <span *ngIf="MainProvider.lang =='ar'">{{categorey.categoryname_ar}}</span> 
          <span *ngIf="MainProvider.lang =='en'">{{categorey.categoryname_en}}</span>
        </ion-segment-button>
        
      </ion-segment>
    </ion-scroll>
  </div>


  <ion-row class="product" *ngIf="!flag">
    <ion-col col-6 *ngFor="let item of allItems; let i = index">
      <ion-icon class="heart" name="heart-outline" (click)="addToFav(item.item_id)"></ion-icon>
      <!--<ion-icon class="heart" name="heart"></ion-icon>-->
      <img [src]="MainProvider.itemsImg+item.itemimages[0].image_path" (click)="showDetails()">
      <p>{{item.item_name}}</p>
      <p>${{item.price}}</p>
      <button ion-button block>{{'Add to Cart'|translate}}</button>
      <!--<div>
        <ion-icon name="add"></ion-icon>
        <p id="no">2</p>
        <ion-icon name="remove"></ion-icon>
      </div>-->
    </ion-col>
   
  </ion-row>


  <ion-row class="product">
      <ion-col col-6 *ngFor="let item of specItems,let i=index">
        <ion-icon #icon [name]="icons[i]" class="heart" (click)="addToFav(item.item_id,i)"></ion-icon>
        <!--<ion-icon class="heart" name="heart"></ion-icon>-->
        <img [src]="MainProvider.itemsImg+item.itemimages[0].image_path" (click)="showDetails()">
        <p >{{item.item_name}}</p>
        <p>${{item.price}}</p>
        <button ion-button block (click)="addToCart()">{{'Add to Cart'|translate}}</button>
        <!-- <div *ngIf="quan">
          <ion-icon name="add"></ion-icon>
          <p id="no">{{item.quantity}}</p>
          <ion-icon name="remove"></ion-icon>
        </div> -->
      </ion-col>
    </ion-row>

   
</ion-content>
