
<!-- <ion-header>

  <ion-navbar>
    <ion-title>
      <ion-row style="text-align: center;">
          <ion-col col-1> 
            <ion-buttons>
              <button ion-button navPop icon-only>
                  <ion-icon style="color:gray" name="arrow-back"></ion-icon>
              </button>
            </ion-buttons>
          </ion-col>
          <ion-col col-11 style="font-family: Bitter;font-weight: 500;padding-top: 10px;">{{'Complete Profile'|translate}} </ion-col>
      </ion-row>
    </ion-title>
  </ion-navbar>

</ion-header>
 -->

<ion-content>
    <yellowhead></yellowhead>
   <div class="topdiv" (click)="addimage()">
      <ion-icon *ngIf="customer.currentuser.image == null && img == null" style="color:gray" name="add"></ion-icon>
      <img *ngIf="img != null" [src]='"data:image/png;base64,"+img'>
      <img *ngIf="customer.currentuser.image != null && img == null" [src]="MainProvider.baseImg+customer.currentuser.image">
  </div>
  <form class="formaa" #f="ngForm" (ngSubmit)="updateUser(f.value)"> 

      <ion-label>{{'User name'|translate}}</ion-label>
      <ion-input type="text" [ngModel]="customer.currentuser.name" name="name"></ion-input>
       
      <ion-label>{{'Email'|translate}}</ion-label>
      <ion-input type="email" [ngModel]="customer.currentuser.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" ></ion-input>

      <ion-label>{{'Phone No.'|translate}}</ion-label>
      <ion-input type="tel" [ngModel]="customer.currentuser.phone" name="phone" ></ion-input>

      <ion-label>{{'Password'|translate}}</ion-label>
      <ion-input type="password" ngModel name="password" maxlength="6" required ></ion-input>

      <button ion-button outline  [disabled]="!f.valid">{{'Update'|translate}}</button>
     
      
  </form>
    
</ion-content>

