page-paypalinfo {
.formaa{
    margin:0 10%;;
    width: 80%;
    position: fixed;
    top: 30%;
    p{
        text-align: end;
        font-size: 16px;
        color: #717171;
        margin: 20px 0 50px;
    }
}
}
