<!-- Generated template for the YellowheadComponent component -->
<div>
<ion-row class="topr">
 
  <ion-col col-8>
      <form id="demo-2">
          <input type="search" placeholder="Search">
        </form>
  </ion-col>
  <ion-col col-1 style="padding-top: 15px;text-align: center;">
  </ion-col> 
  <ion-col col-3>
    <ion-segment>
      <ion-segment-button (click)="changeLangen()">
         En
      </ion-segment-button>
      <ion-segment-button (click)="changeLangar()">
         عربى
      </ion-segment-button>
    </ion-segment>
  </ion-col>
</ion-row>
<div class="logodiv">
    <img src="assets/imgs/logo.png">
  </div>
</div>
