<!-- Generated template for the YellowheadComponent component -->
<div>
<ion-row class="topr">
 
  <ion-col col-8>
      <form id="demo-2">
         <img src="assets/imgs/search.png" (click)="gosearch()">
          
        </form>
  </ion-col> 
  <ion-col col-4>
    <ion-segment>
      <ion-segment-button (click)="changeLangen()">
         En
      </ion-segment-button>
      <ion-segment-button (click)="changeLangar()">
         AR
      </ion-segment-button>
    </ion-segment>
  </ion-col>
</ion-row>
<div class="logodiv">
    <img src="assets/imgs/logo.png">
  </div>
</div>
