page-tartoptions {

    .toolbar-background{
    background: white;
}
.header::after{
  background-image:none;
}
.tart{
    text-align: center;
    font-family: Bitter;
    color: #0698b3;
    font-size: 20px;
}
.imagedivs{
    text-align: center;
    height: 100px;
    width: 50%;
    margin: auto;
    img{
        height: 100%;

    }
}
.item-ios .radio-ios{
    display: none !important;
}
.add{
    height: 100px;
    width: 50%;
    margin: auto;
    border: 2px dashed gray;
    text-align: center;
    padding-top: 20px;
    color: gray;
    border-radius: 10px;
    font-size: 45px;
    line-height: 100%;
}
.buttons{
    width: 85%;
    margin: 30px auto;
    text-align: center;
    .button{
        width: 30%;
        border-radius: 20px;
        color:#0698b3;
        border: 1px solid gray;
        text-transform: none;
    }
}

.label{
    margin: 10px;
}
.board{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 10px 5px;
    border: 1px solid lightgray;
    display: inline-flex;
    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    
}
.slidediv{
    width: 70%;
    margin: auto;
    text-align: center;
    max-width: 70%;
    overflow: auto;
    height: 70px;

}
.size{
    text-align: center;
    width: 65px;
    display: inline-flex;
    border-radius: 50%;
    border:3px solid lightgray;
    height: 65px;
    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    
    h5{
        margin: auto;
        color:#0698b3;
        font-size: 15px;
        display: block;
        span{
          color: black;
          font-size: 13px;
        }

    }
   
}
.myitem , .coloritem{
       width: 115px;
       text-align: center;
       display: inline-block;
       background: transparent;
}
.coloritem{
    width: 80px;
    background: transparent;
}
.list-md .item-block .item-inner{
    border-bottom:none;
}
.item-radio.item-md ion-label {
    margin: 0;
}
.item-radio-checked.item-md ion-label {
    color: #488aff;
    /* border: 1px solid black; */
    border-radius: 50%;
    height: 80px;
    padding: 7px 0;
    width: 65px;

}
.colordiv{
    border-radius: 50%;
    h5{
        text-align: center;
        border-radius: 50%;
        img {
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }
    }
  }
.item-radio-checked.item-md ion-label{
    .size{
        box-shadow: 0px 0px 24px 6px lightgrey;
    }
    
}
.radio-md .radio-icon{
    display:none !important;
}
.slides{
     width: 100%;
     margin: auto;
}
// .swiper-wrapper{
//     height: 25%;
// }
.swiper-slide img{
    width: 100%;
  
}

ion-scroll.scroll-x .scroll-content {
    overflow-x: auto;
    width: 100vw !important;
    height: 100%;
    .scroll-zoom-wrapper {
        width: 100vw !important;
    }
}
ion-scroll {
    .scroll-content{
        white-space: nowrap;
        height: 290px;
        overflow-x:scroll;
        margin-right: auto;
        margin-left: auto;
    }
}

.swiper-container-android .swiper-slide, .swiper-wrapper{
    width: 45px;
    height: 50px;
    border-radius: 50%;
    border:1px solid lightgray;
}


.list{
    text-align: center;
}
.adds{
    overflow-x: auto;
    /* overflow-y: auto; */
   
    div{
      
        width: 105px;
        margin: 0 10px;
        display: inline-block;
        img{
            border-radius: 20px;
            min-width: 100px;
            width: 100px;
            max-width: 100px;
            height: 90px;
            min-height: 90px;
            max-height: 90px;
        }
        p{
            margin: 0;
            color: gray;
            font-size: 12px;
            max-width: 100px;
            overflow: scroll;
        }
        h6{
            margin: 5px 0;
            color: orange;
        }
        .button{
            border-radius: 20px;
            background: #c8c7cc;
            text-transform: none;
            height: 30px;
        }
    }
}
.item-md.item-block .item-inner{
    border-bottom: none
}
.bottombtn{
        height: 55px;
    width: 90%;
    border-radius: 20px;
    margin: 10px auto;
    text-transform: none;
    font-size: 17px;
    background: $blueColor;
}
}