page-dist-orders {
    .totrow{
        height: 196px;
        border:1px solid gray;
        margin: 10px;
       
        img {
            height: 100%;
        }
        .btn{
            text-transform: none;
            width: 65%;
            background: #368f96;
            border-radius: 10px;
        }
    }
p{
    margin: 0;
    color: #368f96;
    font-weight: bold;
}
yellowhead #demo-2 {
    padding: 10px;
    display: none;
}
}
